<a href="https://colab.research.google.com/github/DeborahAywa/Big-Data-using-Spark/blob/main/Big_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1 : Reading three csv datasets

In [ ]:
# Importing pandas and numpy libraries
import pandas as pd
import numpy as np

In [ ]:
# Reading the csv files
C02_emission = pd.read_csv("/content/CO2_emission.csv",encoding = 'ISO-8859-1')
C02_emission.head()

,T24,CO2 emission estimates,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,8,Albania,1975,Emissions (thousand metric tons of carbon diox...,"4,338",NaN,"International Energy Agency, IEA World Energy ..."
2,8,Albania,1985,Emissions (thousand metric tons of carbon diox...,"6,930",NaN,"International Energy Agency, IEA World Energy ..."
3,8,Albania,2005,Emissions (thousand metric tons of carbon diox...,"3,825",NaN,"International Energy Agency, IEA World Energy ..."
4,8,Albania,2010,Emissions (thousand metric tons of carbon diox...,"3,930",NaN,"International Energy Agency, IEA World Energy ..."

In [ ]:
IE = pd.read_csv("/content/Imports_exports.csv", encoding = 'ISO-8859-1')
IE.head()

,T19,"Total imports, exports and balance of trade",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Region/Country/Area,NaN,Year,Series,System of trade,System of trade footnote,Value,Footnotes,Source
1,1,"Total, all countries or areas",1995,Imports CIF (millions of US dollars),NaN,NaN,"5,099,057",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2005,Imports CIF (millions of US dollars),NaN,NaN,"10,577,013",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2010,Imports CIF (millions of US dollars),NaN,NaN,"15,275,115",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2015,Imports CIF (millions of US dollars),NaN,NaN,"16,482,346",NaN,"United Nations Statistics Division, New York, ..."

In [ ]:
Internet_usage = pd.read_csv("/content/Internet_usage.csv",encoding = 'ISO-8859-1')
Internet_usage.head()

,T29,Internet Usage,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2000,Percentage of individuals using the internet,6.5,NaN,"International Telecommunication Union (ITU), G..."
2,1,"Total, all countries or areas",2005,Percentage of individuals using the internet,16.8,NaN,"International Telecommunication Union (ITU), G..."
3,1,"Total, all countries or areas",2010,Percentage of individuals using the internet,29.3,NaN,"International Telecommunication Union (ITU), G..."
4,1,"Total, all countries or areas",2015,Percentage of individuals using the internet,41.1,NaN,"International Telecommunication Union (ITU), G..."

# Question 2 : Creating a spark local cluster

## Setting up pySpark

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
#install apache(http://spark.apache.org/downloads.html)

!wget -q https://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz

In [ ]:
# View all the files in this directory
!ls

CO2_emission.csv     Internet_usage.csv  spark-3.1.1-bin-hadoop2.7
Imports_exports.csv  sample_data	 spark-3.1.1-bin-hadoop2.7.tgz

In [ ]:
#unzip the folder
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

In [ ]:
"""
we need to install findspark to help as locate the disk and import it as a single library
https://pypi.org/project/findspark/
"""
!pip install -q findspark

## Setting up environment variable to run pySpark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [ ]:
 #locate spark
import findspark
findspark.init()

In [ ]:
# Install pySpark
! pip install pySpark

Collecting pySpark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 41.7 MB/s
Building wheels for collected packages: pySpark
  Building wheel for pySpark (setup.py) ... done
  Created wheel for pySpark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=fd2e30903b4f67eb6af3a43392b756035f12c84e5299ee2c52aeaabda4243014
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pySpark
Installing collected packages: py4j, pySpark
Successfully installed py4j-0.10.9.3 pySpark-3.2.1

In [ ]:
findspark.find()

'/content/spark-3.1.1-bin-hadoop2.7'

### Creating SparkSession as the entry point of Spark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master("local").appName("Colab").config('spark.ui.port','4050').getOrCreate()

In [ ]:
#Local spark cluster
spark

# Question 3 : Copying the three csv files into the cluster

In [ ]:
df1 = spark.read.csv('/content/CO2_emission.csv',header = True,inferSchema = True)
df2 = spark.read.csv('/content/Imports_exports.csv',header = True, inferSchema=True)
df3 = spark.read.csv('/content/Internet_usage.csv',header = True,inferSchema=True)

In [ ]:
#Loading all three csv files into spark
paths = ["/content/CO2_emission.csv","/content/Imports_exports.csv","/content/Internet_usage.csv"]
df4 = spark.read.csv(paths,header = True,inferSchema = True)

In [ ]:
df4.printSchema

# Question 4 : Queries on the cluster

In [ ]:
df4.show()

+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
|                T19|Total imports, exports and balance of trade| _c2|                 _c3|            _c4|                 _c5|       _c6|      _c7|                 _c8|
+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
|Region/Country/Area|                                       null|Year|              Series|System of trade|System of trade f...|     Value|Footnotes|              Source|
|                  1|                       Total, all countr...|1995|Imports CIF (mill...|           null|                null| 5,099,057|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Imports CIF (mill...|           null|                null|10,577,013|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Imports CIF (mill...|           null|                null|15,275,115|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Imports CIF (mill...|           null|                null|16,482,346|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Imports CIF (mill...|           null|                null|19,448,147|     null|United Nations St...|
|                  1|                       Total, all countr...|2019|Imports CIF (mill...|           null|                null|18,870,155|     null|United Nations St...|
|                  1|                       Total, all countr...|2020|Imports CIF (mill...|           null|                null|17,552,638|     null|United Nations St...|
|                  1|                       Total, all countr...|1995|Exports FOB (mill...|           null|                null| 5,050,238|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Exports FOB (mill...|           null|                null|10,373,445|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Exports FOB (mill...|           null|                null|15,102,218|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Exports FOB (mill...|           null|                null|16,384,279|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Exports FOB (mill...|           null|                null|19,108,071|     null|United Nations St...|
|                  1|                       Total, all countr...|2019|Exports FOB (mill...|           null|                null|18,585,471|     null|United Nations St...|
|                  1|                       Total, all countr...|2020|Exports FOB (mill...|           null|                null|17,480,150|     null|United Nations St...|
|                  1|                       Total, all countr...|1995|Balance imports/e...|           null|                null|   -48,819|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Balance imports/e...|           null|                null|  -203,568|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Balance imports/e...|           null|                null|  -172,897|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Balance imports/e...|           null|                null|   -98,067|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Balance imports/e...|           null|                null|  -340,076|     null|United Nations St...|
+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
only showing top 20 rows

In [ ]:
df1.show()

+-------------------+----------------------+----+--------------------+------+---------+--------------------+
|                T24|CO2 emission estimates| _c2|                 _c3|   _c4|      _c5|                 _c6|
+-------------------+----------------------+----+--------------------+------+---------+--------------------+
|Region/Country/Area|                  null|Year|              Series| Value|Footnotes|              Source|
|                  8|               Albania|1975|Emissions (thousa...| 4,338|     null|International Ene...|
|                  8|               Albania|1985|Emissions (thousa...| 6,930|     null|International Ene...|
|                  8|               Albania|2005|Emissions (thousa...| 3,825|     null|International Ene...|
|                  8|               Albania|2010|Emissions (thousa...| 3,930|     null|International Ene...|
|                  8|               Albania|2015|Emissions (thousa...| 3,825|     null|International Ene...|
|                  8|               Albania|2016|Emissions (thousa...| 3,674|     null|International Ene...|
|                  8|               Albania|2017|Emissions (thousa...| 4,342|     null|International Ene...|
|                  8|               Albania|2018|Emissions (thousa...| 4,303|     null|International Ene...|
|                  8|               Albania|1975|Emissions per cap...|   1.8|     null|International Ene...|
|                  8|               Albania|1985|Emissions per cap...|   2.3|     null|International Ene...|
|                  8|               Albania|2005|Emissions per cap...|   1.3|     null|International Ene...|
|                  8|               Albania|2010|Emissions per cap...|   1.3|     null|International Ene...|
|                  8|               Albania|2015|Emissions per cap...|   1.3|     null|International Ene...|
|                  8|               Albania|2016|Emissions per cap...|   1.3|     null|International Ene...|
|                  8|               Albania|2017|Emissions per cap...|   1.5|     null|International Ene...|
|                  8|               Albania|2018|Emissions per cap...|   1.5|     null|International Ene...|
|                 12|               Algeria|1975|Emissions (thousa...|13,553|     null|International Ene...|
|                 12|               Algeria|1985|Emissions (thousa...|42,073|     null|International Ene...|
|                 12|               Algeria|2005|Emissions (thousa...|77,474|     null|International Ene...|
+-------------------+----------------------+----+--------------------+------+---------+--------------------+
only showing top 20 rows

In [ ]:
df2.show()

+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
|                T19|Total imports, exports and balance of trade| _c2|                 _c3|            _c4|                 _c5|       _c6|      _c7|                 _c8|
+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
|Region/Country/Area|                                       null|Year|              Series|System of trade|System of trade f...|     Value|Footnotes|              Source|
|                  1|                       Total, all countr...|1995|Imports CIF (mill...|           null|                null| 5,099,057|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Imports CIF (mill...|           null|                null|10,577,013|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Imports CIF (mill...|           null|                null|15,275,115|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Imports CIF (mill...|           null|                null|16,482,346|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Imports CIF (mill...|           null|                null|19,448,147|     null|United Nations St...|
|                  1|                       Total, all countr...|2019|Imports CIF (mill...|           null|                null|18,870,155|     null|United Nations St...|
|                  1|                       Total, all countr...|2020|Imports CIF (mill...|           null|                null|17,552,638|     null|United Nations St...|
|                  1|                       Total, all countr...|1995|Exports FOB (mill...|           null|                null| 5,050,238|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Exports FOB (mill...|           null|                null|10,373,445|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Exports FOB (mill...|           null|                null|15,102,218|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Exports FOB (mill...|           null|                null|16,384,279|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Exports FOB (mill...|           null|                null|19,108,071|     null|United Nations St...|
|                  1|                       Total, all countr...|2019|Exports FOB (mill...|           null|                null|18,585,471|     null|United Nations St...|
|                  1|                       Total, all countr...|2020|Exports FOB (mill...|           null|                null|17,480,150|     null|United Nations St...|
|                  1|                       Total, all countr...|1995|Balance imports/e...|           null|                null|   -48,819|     null|United Nations St...|
|                  1|                       Total, all countr...|2005|Balance imports/e...|           null|                null|  -203,568|     null|United Nations St...|
|                  1|                       Total, all countr...|2010|Balance imports/e...|           null|                null|  -172,897|     null|United Nations St...|
|                  1|                       Total, all countr...|2015|Balance imports/e...|           null|                null|   -98,067|     null|United Nations St...|
|                  1|                       Total, all countr...|2018|Balance imports/e...|           null|                null|  -340,076|     null|United Nations St...|
+-------------------+-------------------------------------------+----+--------------------+---------------+--------------------+----------+---------+--------------------+
only showing top 20 rows

In [ ]:
df3.show()

+-------------------+--------------------+----+--------------------+-----+---------+--------------------+
|                T29|      Internet Usage| _c2|                 _c3|  _c4|      _c5|                 _c6|
+-------------------+--------------------+----+--------------------+-----+---------+--------------------+
|Region/Country/Area|                null|Year|              Series|Value|Footnotes|              Source|
|                  1|Total, all countr...|2000|Percentage of ind...|  6.5|     null|International Tel...|
|                  1|Total, all countr...|2005|Percentage of ind...| 16.8|     null|International Tel...|
|                  1|Total, all countr...|2010|Percentage of ind...| 29.3|     null|International Tel...|
|                  1|Total, all countr...|2015|Percentage of ind...| 41.1|     null|International Tel...|
|                  1|Total, all countr...|2017|Percentage of ind...| 46.3|     null|International Tel...|
|                  1|Total, all countr...|2018|Percentage of ind...| 49.0|     null|International Tel...|
|                  1|Total, all countr...|2019|Percentage of ind...| 51.4|     null|International Tel...|
|                 15|     Northern Africa|2000|Percentage of ind...|  0.6|     null|International Tel...|
|                 15|     Northern Africa|2005|Percentage of ind...|  9.2|     null|International Tel...|
|                 15|     Northern Africa|2010|Percentage of ind...| 24.6|     null|International Tel...|
|                 15|     Northern Africa|2015|Percentage of ind...| 38.8|     null|International Tel...|
|                 15|     Northern Africa|2017|Percentage of ind...| 45.4|     null|International Tel...|
|                 15|     Northern Africa|2018|Percentage of ind...| 47.4|     null|International Tel...|
|                 15|     Northern Africa|2019|Percentage of ind...| 53.4|     null|International Tel...|
|                202|  Sub-Saharan Africa|2000|Percentage of ind...|  0.5|     null|International Tel...|
|                202|  Sub-Saharan Africa|2005|Percentage of ind...|  2.1|     null|International Tel...|
|                202|  Sub-Saharan Africa|2010|Percentage of ind...|  6.5|     null|International Tel...|
|                202|  Sub-Saharan Africa|2015|Percentage of ind...| 20.5|     null|International Tel...|
|                202|  Sub-Saharan Africa|2017|Percentage of ind...| 17.9|     null|International Tel...|
+-------------------+--------------------+----+--------------------+-----+---------+--------------------+
only showing top 20 rows

In [ ]:
#Columns in the datasets
df1.columns

['T24', 'CO2 emission estimates', '_c2', '_c3', '_c4', '_c5', '_c6']

In [ ]:
df2.columns

['T19',
 'Total imports, exports and balance of trade',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8']

In [ ]:
df3.columns

['T29', 'Internet Usage', '_c2', '_c3', '_c4', '_c5', '_c6']

In [ ]:
df4.columns

['T19',
 'Total imports, exports and balance of trade',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8']

In [ ]:
df1.count()

220

In [ ]:
df1_no_null = df1.dropna()
df1_no_null.count()

220

In [ ]:
df2 = df2.dropna()
df2.count()

0

In [ ]:
df3.count()

1358

In [ ]:
df3_no_null = df3.dropna()
df3_no_null.count()

599

In [ ]:
df4.count()

8604

In [ ]:
df4_not_null = df4.dropna()
df4_not_null.count()

0

In [ ]:
# Summary of the spark cluster
# Grouping by region
a = df1.select('_c2').show(10)

+----+
| _c2|
+----+
|1975|
|1985|
|2005|
|2010|
|2015|
|2016|
|2017|
|2018|
|1975|
|1985|
+----+
only showing top 10 rows

In [ ]:
b = df4.select('T19','_c3','_c6').show()

+-------------------+--------------------+----------+
|                T19|                 _c3|       _c6|
+-------------------+--------------------+----------+
|Region/Country/Area|              Series|     Value|
|                  1|Imports CIF (mill...| 5,099,057|
|                  1|Imports CIF (mill...|10,577,013|
|                  1|Imports CIF (mill...|15,275,115|
|                  1|Imports CIF (mill...|16,482,346|
|                  1|Imports CIF (mill...|19,448,147|
|                  1|Imports CIF (mill...|18,870,155|
|                  1|Imports CIF (mill...|17,552,638|
|                  1|Exports FOB (mill...| 5,050,238|
|                  1|Exports FOB (mill...|10,373,445|
|                  1|Exports FOB (mill...|15,102,218|
|                  1|Exports FOB (mill...|16,384,279|
|                  1|Exports FOB (mill...|19,108,071|
|                  1|Exports FOB (mill...|18,585,471|
|                  1|Exports FOB (mill...|17,480,150|
|                  1|Balance imports/e...|   -48,819|
|                  1|Balance imports/e...|  -203,568|
|                  1|Balance imports/e...|  -172,897|
|                  1|Balance imports/e...|   -98,067|
|                  1|Balance imports/e...|  -340,076|
+-------------------+--------------------+----------+
only showing top 20 rows